body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#root {
  height: 94%;
  position: absolute;
  left: 0;
  width: 100%;
  overflow-y: auto;
  background: url(./colorful-sweeties-donuts-pattern-composition.jpg) no-repeat center
    center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border-bottom: green;
  border-style: solid;
  border-width: medium;
  font-family: 'Andika-R';
}

@font-face {
  font-family: 'Andika-R';
  src: local('Andika-R'), url(./fonts/Andika-R.ttf) format('truetype');
}

@font-face {
  font-family: 'AmaticSC-Regular';
  src: local('AmaticSC-Regular'), url(./fonts/AmaticSC-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'AmaticSC-Bold';
  src: local('AmaticSC-Bold'), url(./fonts/AmaticSC-Bold.ttf) format('truetype');
}
